@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #112d4e;
  --color-secondary: #3f72af;
  --color-accent: #ffc147;
  --color-pure-white: #ffffff;
  --color-text-black: #222222; /* for heading*/
  --color-dark-gray: #6b7280; /* for text inside input text like email box. */
  --color-light-gray: #d1d5db; /* for divide line, hr */
  --color-background: #f9f7f7;
  --color-nav: #121d33;
}
@theme {
  --font-primary: "Kantumruy Pro", sans-serif;

}

html {
  color-scheme: light;
  font-family:"Kantumruy Pro", sans-serif;
}

html.light {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

body {
  font-family: var(--font-primary);
  @apply bg-background text-text-black transition-colors duration-300;
}

.shadowCus {
  box-shadow: 0px 0px 20px rgb(238, 238, 238);
}
.hr{
  height: 1.5;
  background-color: #112d4e;
}
.borderCus{
  border: 1px solid #042e5d35 ;
}   
